* {
    box-sizing: border-box;
  }

  .grid-board {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    grid-gap: 0;
    justify-items: center;
    align-items: center;
  }