:root {
    --bg-color: rgba(150, 150, 150, 1);
  
    /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
    --border-left-color: rgba(255, 255, 255, 0.20);
    --border-top-color: rgba(255, 255, 255, 0.33);
    --border-right-color: rgba(0, 0, 0, 0.15);
    --border-bottom-color: rgba(0, 0, 0, 0.5);
  
    /* Square Colors:  background colors for the squares.*/
    --color-0: #FFFAFA;
    --color-1: #f2ea00;
    --color-2: #6666f0;
    --color-3: #2bd319;

    /* Button Colors */
    --button-color-t: rgba(200, 200, 200, 1);
    --button-color-r: rgba(150, 150, 150, 1);
    --button-color-b: rgba(120, 120, 120, 1);
    --button-color-l: rgba(222, 222, 222, 1);
  
    /* Numbers define values that will be used throughout the CSS.
    --tile-size: 20px for example will set size of the grid squares. */
    --tile-size: 30px;
    --border-width: 2px;
}

.grid-square {
border-style: solid;
width: var(--tile-size);
height: var(--tile-size);
border-width: 0.05;
border-color:rgba(200, 200, 200, 1);
}

.start {
    background-color: var(--color-2);
}
.end {
    background-color: var(--color-2);
}
.wall {
    background-color: var(--color-3);
}

.left-visited-false-right-visited-false {
    background-color: var(--color-0);
}
  
.left-visited-true-right-visited-false {
    background-color: var(--color-1);
}

.left-visited-false-right-visited-true {
    background-color: var(--color-2);
}

.left-visited-true-right-visited-true {
    background-color: var(--color-3);
}
