:root {
    --bg-color: rgba(150, 150, 150, 1);
  
    /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
    --border-left-color: rgba(255, 255, 255, 0.20);
    --border-top-color: rgba(255, 255, 255, 0.33);
    --border-right-color: rgba(0, 0, 0, 0.15);
    --border-bottom-color: rgba(0, 0, 0, 0.5);
  
    /* Square Colors:  background colors for the squares.*/
    --default: #FFFAFA;
    --node: #000000;
    --wall: #808080;
    --left-shortest: #FF69B4;
    --right-shortest: #f2ea00;
    --both-shortest: #FFAC1C;
    --left-visited: #6666f0;
    --right-visited: #2bd319;
    --both-visited: #AFEEEE;
  
    /* Numbers define values that will be used throughout the CSS.
    --tile-size: 20px for example will set size of the grid squares. */
    --tile-size: 30px;
    --border-width: 2px;
}

.grid-square {
border-style: solid;
width: var(--tile-size);
height: var(--tile-size);
border-width: 0.05;
border-color:rgba(200, 200, 200, 1);
}

.start {
    background-color: var(--node);
}
.end {
    background-color: var(--node);
}
.wall {
    background-color: var(--wall);
}

.left-visited-false-right-visited-false {
    background-color: var(--default);
}
  
.left-visited-true-right-visited-false {
    background-color: var(--left-visited);
}

.left-visited-false-right-visited-true {
    background-color: var(--right-visited);
}

.left-visited-true-right-visited-true {
    background-color: var(--both-visited);
}

.left-shortest-true-right-shortest-false {
    background-color: var(--left-shortest);
}

.left-shortest-false-right-shortest-true {
    background-color: var(--right-shortest);
}

.left-shortest-true-right-shortest-true {
    background-color: var(--both-shortest);
}